body{
    background-color: gainsboro;
    padding-top: 0px;
    margin-top: -1px;
    margin-bottom: 55px;
}
p{
    cursor: default;
    padding: -1px;
}

.div2{
    width:100%;
    font-size: 25px;
    padding: 0px;
}
#div1{
    background-color: #000137;
    width: 100%;
    display: flex;
    vertical-align: middle;
    padding: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#option{
    width: 40px;
    height: 40px;
    object-fit: scale-down;
    margin: 10px 5px 10px 10px;
}
#loader{
    border: 9px solid #f3f3f3;
    border-top: 9px solid #000137;
     border-radius:50% ;
     width: 60px;
     height:60px;
     animation: spin 2s linear infinite alternate;
    position: fixed;
    bottom: 40%;
    left: 45%;
    }
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(1080deg);
    }
}
.labl {
    display :flex;
    width:100%;
}
.labl > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.labl > input + div{ /* DIV STYLES */
    cursor:pointer;
    border:2px solid transparent;
    width: 100%;
    margin: 8px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.labl > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
    background-color: #ffd6bb;
    border: 1px solid #ff6600;
}
.title{
    font-weight: bold;
    font-size: 14px;
    width: 50%;
    padding: 8px;
}
.flex{
    display: flex;
}
.info{
    width: 50%;
    text-align: right;
    padding: 8px;
}
.edit-link{
    color: #000137;
    text-decoration: none;
    width: 100%;
    text-align: right;
    padding: 8px 8px 0 8px;
}
