body{
    background-color: #ECEFF1;
    margin-bottom: 55px;
}
#display{
    overflow:auto
}
.nav{
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px #000137;
    background-color: #000137;
    display: flex;
    overflow-x: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #757575;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color o.1s ease-in-out;
}
.nav__link:hover{
    background-color: #282f5f;
  
}
.nav__link--active{
    color: white;
}
.category_image{
    width: 55px;
    margin: auto;
    text-align: center;
 }
.category_select{
    height: 20%;
    background-color: #000137;
}
#category_select1{
    background-color: white;
}
.category_view{
 background-color: #000137;
 margin-right: 3px;
    height: 100%;
    font-size: 32px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.category_view:hover{
    background-color: #282f5f;
}
#body{
    display: flex;
    width: 100%;
    height: calc(100vh - 55px);
}
.items_view{
    background-color: white;
    padding: 5px;
    margin: 8px;
    border-radius: 15px;
    align-content: center;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media(max-width:359px) {
    .items_view{
        width: 118px;
    }
}
@media(min-width:360px){
    .items_view{
        width: 133px;
    }
}
@media (min-width:392px){
    .items_view{
        width: 154px;
    }
}
@media (min-width:480px){
    .items_view{
        width: 126px;
    }
}
@media (min-width:640px){
    .items_view{
        width: 131px;
    }
}
.item_price{
    text-align: right;
}

section{
    width: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
}
.items_image{
    height: 130px;
    object-fit: scale-down;
    width: 100%;
}
#loader{
    border: 9px solid #f3f3f3;
    border-top: 9px solid #000137;
     border-radius:50% ;
     width: 60px;
     height:60px;
     animation: spin 2s linear infinite alternate;
  
    position: fixed;
    bottom: 40%;
    left: 45%;
    }
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(1080deg);
    }
}
.item_name{
    color: black;
    height: 65px;
    overflow: hidden;
}