html,body{
    margin-bottom: 55px;
    background-color: gainsboro;
}
#loader{
    border: 9px solid #f3f3f3;
    border-top: 9px solid #000137;
     border-radius:50% ;
     width: 60px;
     height:60px;
     animation: spin 2s linear infinite alternate;
  
    position: fixed;
    bottom: 40%;
    left: 45%;
    }
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(1080deg);
    }
}
.notification {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
  }
  .notification .badge {
    position: absolute;
    top: 5;
    right: -10px;
    padding: 3px 7px;
    font-size: 12px;
    border-radius: 50%;
    background: red;
    color: white;
  }
  .a_badge{
    position: absolute;
    top: -5px;
    right: -10px;
    padding: 2px 4px;
    font-size: 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }
p{
    cursor: default;
}
.div2{
    width:100%;
    height: 55px;
}
#div1{
    background-color: #000137;
    width: 100%;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#cart{
    width: 40px;
    height: 40px;
    object-fit: scale-down;
    margin: 10px 5px 10px 10px;
}
#desc{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    background-color: white;
}
@media (min-width:992px){
    .notification .badge{
        display:none
        
    }
}
#no_items{
    width: 100%;
    height: 220px;
    margin: auto;
    background-color: white;
    display: none;
}
#continue{
    width: 100%;
     background-color: #000137;
      padding: 8px;
       font-size: 16px;
       color: white;
       border: none;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.continue{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}