body{
    background-color: #000137;
    padding-top: 0px;
    margin-top: -1px;
    margin-bottom: 55px;
    margin-left: -1px;  
    margin-right: -1px;
}
p{
    cursor: default;
    padding: -1px;
}
.div2{
    width:100%;
    font-size: 25px;
    padding: 0px;
}
#div1{
    background-color: black;
    width: 100%;
    display: flex;
    vertical-align: middle;
    padding: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#option{
    width: 40px;
    height: 40px;
    object-fit: scale-down;
    margin: 10px 5px 10px 10px;
}
.boxes{
    display: block;
    width: 100%;
    font-size: 16px;
}

#toogle{
    width:25px;
    height: 25px;
    }
    #boxes{
        padding: 8px;
        background-color: white;
        height: auto;
        margin: 70px auto;
        width: 308px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;
    }
    @media(min-width:600px){
        #boxes{
        width:50%;
        }
    }
#submit{
    margin-top: 30px;
    font-size: 18px; 
    width: 100%; 
    padding: 8px;
    background-color: #000137;
    border: #000137;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#loader{
    border: 5px solid #f3f3f3;
    border-top: 5px solid #000137;
     border-radius:50% ;
     width: 28px;
     height: 28px;
     animation: spin 2s linear infinite alternate;
    margin: auto;
    margin-top: 30px;
    display:none;
    }
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(1080deg);
    }
}