html,body{
    padding: 0;
    margin: 0;
    height:100%;
    background-color: gainsboro;
}
#body{
    width: 100%;
    display: none;
}
#loader{
    border: 9px solid #f3f3f3;
    border-top: 9px solid #FF9800;
     border-radius:50% ;
     width: 60px;
     height:60px;
     animation: spin 2s linear infinite alternate;
  
    position: fixed;
    bottom: 40%;
    left: 45%;
    }
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(1080deg);
    }
}
.notification {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
  }
  .notification .badge {
    position: absolute;
    top: 5;
    right: -10px;
    padding: 3px 7px;
    font-size: 12px;
    border-radius: 50%;
    background: red;
    color: white;
  }
  .a_badge{
    position: absolute;
    top: -5px;
    right: -10px;
    padding: 2px 4px;
    font-size: 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }
p{
    cursor: default;
}
.div2{
    width:100%;
    height: 55px;
}
#div1{
    background-color: #FF9800;
    width: 100%;
    display: flex;
    height: 55px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin:0;
}
#cart{
    width: 40px;
    height: 40px;
    object-fit: scale-down;
    margin: 10px 5px 10px 10px;
}


.img_container{
    background-color: white;
    width: 50%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    padding: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#item_price{
    color:#FF9800 ;
    font-size: 18px;
    font-weight:bold ;
    padding: 8px 8px 5px 8px;
}
#item_info{
    width: 100%;
    background-color: white;
    padding: 8px;
    margin-top: 5px;
   }
#item_name{
    font-size: 16px;
    color: black;
    padding: 5px 8px 5px 8px;
}
#des{
    width: 100%;
    background-color: white;
    padding: 8px;
    margin-top: 10px;
display: flex;
}
#des img{
height: 14px;
width: 16px;
object-fit: scale-down;
padding: 8px;
}
#desc{
    background-color: white;
    width: 100%;
    height: 90px;
    padding: 8px;
    margin-top: 3px;
display: flex;
}
#bottom{
    position: fixed;
    bottom: 0;
    background-color: #FF9800;
    width: 100%;
}

.cart_nav{
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: white;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
}
.nav_box{
    height: 45px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 50px;
    color: white;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color o.1s ease-in-out;
    background-color: #FF9800;
    height: 45px;
    cursor: default;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (min-width:992px){
    .notification .badge{
        display:none
        
    }
}

#add-box{
     width: 100%;
    margin: 0px 5px 0px 5px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  display: flex;
}
.items_view{
    background-color: white;
    padding: 5px;
    margin: 8px;
    border-radius: 15px;
    align-content: center;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media(max-width:359px) {
    .items_view{
        width: 140px;
    }
}
@media(min-width:360px){
    .items_view{
        width: 160px;
    }
}
@media (min-width:392px){
    .items_view{
        width: 180px;
    }
}
@media (min-width:480px){
    .items_view{
        width: 140px;
    }
}
@media (min-width:640px){
    .items_view{
        width: 164px;
    }
}
.item_price{
    text-align: right;
}


.items_image{
    height: 130px;
    object-fit: scale-down;
    width: 100%;
}