#div2{
    width:100%;
    padding-left: 15px;
    padding-right: 5px;
    height: 46px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
font-size: 16px;
}
#div1{
    background-color: #000137;
    width: 100%;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#search{
    color:grey;
    width: 100%;
}
#cart{
    width: 40px;
    height: 40px;
    object-fit: scale-down;
    margin: 10px 5px 10px 10px;
}
.notification {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
  }
  .notification .badge {
    position: absolute;
    top: 5;
    right: -10px;
    padding: 3px 7px;
    font-size: 12px;
    border-radius: 50%;
    background: red;
    color: white;
  }
  .a_badge{
    position: absolute;
    top: -5px;
    right: -10px;
    padding: 2px 4px;
    font-size: 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }
  #loader{
    border: 9px solid #f3f3f3;
    border-top: 9px solid #000137;
     border-radius:50% ;
     width: 60px;
     height:60px;
     animation: spin 2s linear infinite alternate;
  
    position: fixed;
    bottom: 40%;
    left: 45%;
    }
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(1080deg);
    }
}

  .item_image{
      width: 80px;
      height: 100px;
  }
  .items_view{
    background-color: white;
    padding: 5px;
    margin: 8px 0;
    border-radius: 15px;
    align-content: center;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media(max-width:575px){
@media(max-width:359px) {
    .items_view{
        width: 140px;
    }
}
@media(min-width:360px){
    .items_view{
        width: 160px;
    }
}
@media (min-width:392px){
    .items_view{
        width: 180px;
    }
}
@media (min-width:480px){
    .items_view{
        width: 140px;
    }
}
.items_view{
    margin: 8px;
    height: auto;
}
.item_price{
    text-align: right;
}
.item_image{
    height: 130px;
    object-fit: scale-down;
    width: 100%;
}
}

@media (min-width:992px){
    .notification .badge{
        display:none
        
    }
}
.item_name{
    font-size: 18px;
    color: black;
    padding: 8px;
    height: 80px;
     overflow: hidden;
    }
    .item_price{
    color: #000137;
    font-size: 14px;
    padding: 8px;
    }
    #list{
        align-items: center;
        justify-content: center; 
    }