body {
  padding-top: 0px;
  margin-top: 0;
  margin-bottom: 55px;
  margin-left: 0;
  background-color: #eeeeee;
  width: 100%;

  height: 100%;
  margin-right: -1px;
}

p {
  cursor: default;
  padding: 0px;
  vertical-align: middle;
  margin: auto;
}

.div2 {
  width: 100%;
  font-size: 25px;
  padding: 0px;
}
#div1 {
  background-color: #000137;
  width: 100%;
  display: flex;
  vertical-align: middle;
  padding: 0px;
}
#continue {
  width: 100%;
  background-color: #000137;
  padding: 8px;
  font-size: 16px;
  color: white;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.continue {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#item_body {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}
#no_items {
  width: 100%;
  height: 220px;
  margin: auto;
  background-color: white;
  display: none;
}

#no_items img {
  height: 120px;
  width: 150px;
  filter: invert(6%) sepia(63%) saturate(3693%) hue-rotate(232deg)
    brightness(91%) contrast(117%);
  margin-bottom: 8px;
  object-fit: scale-down;
  margin-left: 43px;
}
#option {
  width: 40px;
  height: 40px;
  object-fit: scale-down;
  margin: 10px 5px 10px 10px;
}
.item-view {
  padding: 8px;
  height: 157px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  margin-top: 8px;
  border-radius: 15px;
  text-decoration: none;
  color: black;
}
a {
  text-decoration: none;
  color: black;
}

.item-image {
  width: 80px;
  height: 100px;
  object-fit: scale-down;
}
.flex {
  width: 100%;
  display: flex;
}
.item-name {
  font-size: 18px;
  text-decoration: none;
  color: black;
  height: 65px;
  overflow: hidden;
}
.item-price {
  font-size: 14px;
  color: #000137;
}
.controls img {
  height: 30px;
  margin: auto;
  cursor: pointer;
}
.remove {
  display: flex;
}
.remove p {
  cursor: pointer;
}

.options {
  display: flex;
  background-color: #000137;
  justify-content: center;
  align-items: center;
}

.option_select {
  height: 20%;
  background-color: #000137;
  flex-basis: calc(100% / 2);
}
#option_select1 {
  background-color: white;
}
.option_view {
  background-color: #000137;
  margin-bottom: 5px;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 18px;
}
.option_view:hover {
  background-color: #282f5f;
}

.optionContainer {
  width: 100%;
  overflow: hidden;
}

.dataBody {
  width: 100%;
  height: 100%;
  display: flex;
  transition: margin 0.5s;
}

.optionbody {
  flex-basis: 0;
  flex-grow: 1;
  height: 100%;
  transition: flex-basis 0.5s;
  overflow: hidden;
}

.optionbody.visible {
  flex-basis: 100%;
}

#loader {
  border: 9px solid #f3f3f3;
  border-top: 9px solid #000137;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite alternate;
  display: block;
  position: fixed;
  bottom: 40%;
  left: 45%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}

.vendor-info {
  display: flex;
  height: 180px;
  align-items: center;
  background-color: #000137;
}

#business-icon {
  width: 120px;
  height: 130px;
  object-fit: contain;
  margin-left: 20px;
}

#vendor-name {
  font-size: 30px;
  margin-left: 30px;
  color: white;
}

.drop-area {
  width: 280px;
  height: 200px;
  border: 2px dashed #ccc;
  color: black;
  text-align: center;
  background-color: white;
  padding: 25px;
  font-family: Arial, sans-serif;
  margin: 20px auto;
}

.drop-instruction {
  font-size: 18px;
}

.file-list {
  list-style: none;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  text-overflow: ellipsis;
  height: 40px;
}

.file-item {
  margin-bottom: 10px;
}

.floating-body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: white;
}

textarea {
  height: 120px;
}
.floating-form {
  width: 300px;
  position: relative;
  padding: 10px;
  background-color: #000137;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.floating-form input,
.floating-body textarea {
  width: 100%;
  background-color: white;
}

#price {
  width: auto;
}
.drop-area input {
  background-color: transparent;
}

.close {
  cursor: pointer;
  width: fit-content;
  font-size: 20px;
  position: absolute;
  top: 0px;
  right: 10px;
  color: red;
}

#register-form input {
  margin-bottom: 20px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
}
.category {
  flex-basis: calc((100% / 2));
  margin-bottom: 10px;
  cursor: pointer;
  padding: 0 3px;
  border-radius: 10px;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.category:hover {
  background-color: #ccc;
}

.formLoader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #000137;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite alternate;
  display: none;
}
